<h3 translate>DISTRIBUTION_MANAGEMENT.SENTINEL_TITLE</h3>

<div class="row" style="margin-top: 30px">
    <div class="col-md-12">
        <files-upload
                format-name="sentinel archive"
                on-upload="$ctrl.onUploadSentinel(data)"
                allow-cancel="false"
        ></files-upload>
    </div>
</div>

<h3 translate>DISTRIBUTION_MANAGEMENT.DISTRIBUTION_TITLE</h3>

<div class="row">
    <div class="col-md-5">
        <div class="row" style="margin-top: 30px">
            <div class="col-md-3">
                <label class="control-label" for="host-category" translate>DISTRIBUTION_MANAGEMENT.HOST_CATEGORY</label>
            </div>
            <div class="col-md-4">
                <select
                        ng-model="$ctrl.hostCategory"
                        class="form-control"
                        id="host-category"
                >
                    <option value="http" selected>Http</option>
                    <option value="agent">Agent</option>
                    <option value="router">Router</option>
                </select>
            </div>
        </div>

        <div class="row" style="margin-top: 30px">
            <div class="col-md-3">
                <label class="control-label" for="upload-version"
                       translate>DISTRIBUTION_MANAGEMENT.VERSION</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="upload-version"

                       ng-model="$ctrl.version" required/>
            </div>
        </div>

        <div class="row" style="margin-top: 30px">
            <div class="col-md-12">
                <files-upload
                        format-name="archive"
                        on-upload="$ctrl.onUpload(data)"
                        allow-cancel="false"
                ></files-upload>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="row" style="margin-top:10px; margin-bottom:10px;">
            <div class="col-md-12">
                <h4 translate>DISTRIBUTION_MANAGEMENT.DISTRIBUTION_LIST</h4>
            </div>
        </div>

        <bitcraft-distribution-list distribution-list="$ctrl.distributions"
                           on-remove="$ctrl.onRemoveDistribution(distributionInfo)"
                           on-download="$ctrl.onDownloadDistribution(distributionInfo)"
                           on-check-version="$ctrl.checkVersion(version)"
                           on-update-distribution="$ctrl.onUpdateDistribution(distributionId, version)"
        ></bitcraft-distribution-list>

    </div>

</div>