<div class="row" style="margin-top: 30px">
    <div class="col-md-1">
        <label class="control-label" for="host-category" translate>
            HOST_MANAGEMENT.HOST_CATEGORY
        </label>
    </div>
    <div class="col-md-2">
        <select
                ng-model="$ctrl.hostCategory"
                class="form-control"
                id="host-category"
                ng-change="$ctrl.updateDnsPrefill()"
        >
            <option value="http" selected>Http</option>
            <option value="agent">Agent</option>
            <option value="router">Router</option>
        </select>
    </div>
</div>

<div class="row" style="margin-top: 30px">
    <div class="col-md-1">
        <label class="control-label" for="local-address" translate title="{{'HOST_MANAGEMENT.TOOLTIP_LOCAL_ADDRESS'|translate}}">
            HOST_MANAGEMENT.LOCAL_ADDRESS
        </label>
    </div>
    <div class="col-md-2">
        <input
                ng-model="$ctrl.localAddress"
                type="text"
                class="form-control"
                id="local-address"
        />
    </div>
</div>

<div class="row" style="margin-top: 30px" ng-show="$ctrl.hostCategory!=='http'">
    <div class="col-md-1">
        <label class="control-label" for="dns" translate ng-show="$ctrl.hostCategory!=='agent'" title="{{'HOST_MANAGEMENT.TOOLTIP_REMOTE_ADDRESS'|translate}}">
            HOST_MANAGEMENT.DNS_NAME</label>
        <label class="control-label" for="dns" translate ng-show="$ctrl.hostCategory==='agent'" title="{{'HOST_MANAGEMENT.TOOLTIP_REMOTE_ADDRESS'|translate}}">
            HOST_MANAGEMENT.REMOTE_ADDRESS_NAME</label>
    </div>
    <div class="col-md-2">
        <input
                ng-model="$ctrl.dns"
                type="text"
                class="form-control"
                id="dns"
        />
    </div>
</div>

<div class="row" style="margin-top: 30px">
    <div class="col-md-1">
        <label class="control-label" for="sentinel-port" translate>
            HOST_MANAGEMENT.SENTINEL_PORT
        </label>
    </div>
    <div class="col-md-2">
        <input
                ng-model="$ctrl.sentinelPort"
                type="text"
                class="form-control"
                id="sentinel-port"
        />
    </div>
</div>

<div class="row" style="margin-top: 30px">
    <div class="col-md-2">
        <div class="form-group">
            <label><span translate>HOST_MANAGEMENT.UPLOAD_SENTINEL</span>
                <input type="checkbox" ng-model="$ctrl.uploadNewSentinel" />
            </label>
        </div>
    </div>
    <div class="col-md-1">
        <a ng-if="!$ctrl.uploadNewSentinel" class="btn btn-primary" ng-click="$ctrl.installHost()" translate>
            HOST_MANAGEMENT.INSTALL
        </a>
        <a ng-if="$ctrl.uploadNewSentinel" class="btn btn-primary" ng-click="$ctrl.installHost()" translate>
            HOST_MANAGEMENT.UPLOAD_SENTINEL_AND_INSTALL
        </a>
        <span class="btn btn-default"
              ng-show="false"
              id="sentinel-file-select"
              ngf-select="$ctrl.sentinelFileSelected($file)"
              ngf-pattern=".tar.gz"
              accept=".tar.gz"
              ngf-multiple="false"/>
    </div>

</div>
